body {
  background-color: bisque;
}    

h1 {
  color:navy;
  text-align: center;
}    

p {
  color: green;
  font-size: 18px;
}    

img {
  display: block;
  margin: 20px auto;
  width: 300px;
  border: 3px solid navy;
  border-radius: 10px;
}
nav {
  background-color: navy;
  padding: 10px;
}

  nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  text-decoration: underline;
}
@media(max-width:600px) {
  nav ul {
    flex-direction: column;
    align-items: center;
 }

 nav ul li {
    margin: 10px 0;            
 }

 body {
  padding: 10px;
 }

 p {
   text-align: center;
 }

 img {
   width: 90%;
 }
}

.mon-bouton {
  background-color: navy;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3, transform 0.2
}

.mon-bouton:hover {
  background-color: dodgerblue;
  transform: scale(1.05);
}
.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: white;
  background-color: navy;
  padding: 10px 15px;
  border-radius: 8px;
  margin: 10px;
}

@media (max-width: 600px) {
  .menu-toggle {
    display: block;
  }

  nav.menu ul {
    flex-direction: column;
    align-items: center;
    display: none;
  }

  nav.menu.active ul {
    display: flex;
  }

  nav ul li {
    margin: 10px 0;
  }
}
.calculatrice {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  width: 280px;
  margin: 30px auto;
}

#resultat {
  width: 100%;
  height: 50px;
  font-size: 24px;
  text-align: right;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.boutons {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 boutons par ligne */
  gap: 10px;
}

.boutons button {
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background-color: navy;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.boutons button:hover {
  background-color: dodgerblue;
}

